
<!doctype html>
<html ng-app="Kelvi">

<head>

	<link rel="stylesheet" href="css/style.css">

	<script src="js/angular.min-1.2.6.js"></script>
	<script src="js/jquery.min-1.10.2.js"></script>

	<script src="js/jaadi-1.0.js"></script>
	<script src="js/kelvi-1.0.js"></script>
</head>


<body ng-controller="KelviConfigController">
	
	<div id="customize" style="">
			<div class="popupSection">
				<h2>Settings</h2>
				<form ng-submit="addNewTopic()">
					Add a topic and press Enter
					<div><input type="text" ng-model="newTopic" size="20" style="font-size:1.5em;" placeholder="Type a topic"></div>
				</form> 
				<table border="1" style="text-align:center">
					
					<tr>
						<td>Remove</td>
						<td>Topic</td>
						<td>Refresh Rate (ms)</td>
						<td># questions</td>
						<td  colspan="4">Watches - Enable</td>
					</tr>

					<tr ng-repeat="topic in topics()" style="text-align:center;">

						<td>
							<a class="clickable" ng-click="removeTopic(topic.topic)" class="{{panel==newTopic?'highlight':''}}">x</a>
						</td>

						<td>{{topic.topic}}</td>
						<td><input type="text" size="10" ng-model="config(topic.topic).refreshRate" ng-change="saveConfig()"></td>
						<td><input type="text" size="2" ng-model="config(topic.topic).questionsCount" ng-change="saveConfig()"></td>
						<!-- <td><input ng-model="topic.get('refreshRate')"></td> -->
						<!-- <td><input ng-model="topic.get('questionsCount')"></td> -->
						
						<td ng-repeat="watch in config(topic.topic).watches" style="text-align:center;">
							<input type="checkbox" ng-model="watch.enable" ng-change="decideWatchToShow(topic.topic,watch);saveConfig();" id="{{topic.topic}}_{{watch.title}}"><label for="{{topic.topic}}_{{watch.title}}">
								{{watch.title}}
							</label>
						</td>

					</tr>
				</table>
			</div>

			<P>
				<div><span class="highlight">Warning! Be careful with refresh rate.</span>
				You will be making <span class="{{getHttpCallsFreq().freq>60?'red':'green'}}"><strong>{{getHttpCallsFreq().freq}} HTTP requests</strong> for every <strong>1 minute</strong></span>. If StackExchange sees too much of request originating from your IP, it may even block the service to your IP for a while. 
			</P>
	</div>

	<p>
	<em><Strong>Note</strong>: Settings are auto-saved. Just refresh the app</em>
	</p>

<h4>Developed by <a href="http://www.maheshsubramaniya.com">Mahesh Subramaniya</a></h4>

<h3>Credits</h3>
<ul>
	<li> <a href="http://coffeescript.org/">Coffeescript</a> </li>
	<li> <a href="http://angularjs.org/">AngularJS</a> </li>
	<li> <a href="http://jquery.com/">jQuery</a> </li>
	<li> <a href="https://github.com/msubra/jaadi">jaadi</a> </li>
	<li> <a href="http://nodejs.org/">nodejs</a> </li>
	<li> <a href="http://www.sublimetext.com/">Sublime Text</a></li>
</ul>

</body>


</html>