
<!doctype html>
<html ng-app="Kelvi">

<head>

	<link rel="icon" 
      type="image/png" 
      href="images/kelvi-16.png">

	<link rel="stylesheet" href="css/style.css">

	<script src="js/angular.min-1.2.6.js"></script>
	<script src="js/jquery.min-1.10.2.js"></script>

	<script src="js/jaadi-1.0.js"></script>
	<script src="js/kelvi-1.0.js"></script>

</head>


<body ng-controller="KelviController" ng-init="init()" width="600px">

<a href="config.html" target="_blank"><div style="background-image:url(gear.png); width:16px; height:16px; float:right;"></div></a>

	<section class="topic" ng-repeat="panel in panels" ng-init="panel.init()">
		<h2><a target="_blank" href="http://stackoverflow.com/questions/tagged/{{panel.topic}}">{{panel.topic}}</a>
			<span> <small><a ng-click="panel.update()" class="reload">&orarr;</a></small></span>
			<small ng-repeat="watch in panel.watches()" ng-click="panel.show(watch)" class="watch-tag clickable {{watch.show?'underline':''}}" >{{watch.title}}</small>
		</h2>

		<div class="row">
			<ul class="questions" ng-init="changeHeight()">
				<li ng-repeat="qn in questions(panel)" class="question" loop-events >
					<a target="_blank" href="{{SO_URL}}{{qn.url}}" title="{{qn.title}} - answers:({{qn.answers}}) up:({{qn.up_vote}}) down:({{qn.down_vote}})">
						{{qn.title}}
					</a>
					<span ng-if="qn.bounty" title="bounty points - {{qn.bounty}}"><small>(+{{qn.bounty}})</small></span>
					 (<small>
					 	<span class="answers_count" title="total answers">A:{{qn.answers}}</span>/<span class="up_vote_count" title="up votes">U:{{qn.up_vote}}</span>/<span class="down_vote_count" title="down votes">D:{{qn.down_vote}}</span>
					 </small>)
				</li>
			</ul>
		</div>
		<span ng-init="panel.update();"></span>
	</section>

</body>

</html>